<!doctype html>
<html>

<head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic|Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/material.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/ripples.css" />
    <link href="css/main.css" rel="stylesheet" />
</head>


<body ng-app="MenuBoardApp" ng-controller="MainController">
    <div class="header">
        <h1><span>Italy</span><span>Bites</span></h1>
    </div>
    <div class="main">
        <div class="container">
            <h1>Specials for {{ today | date }}</h1>
            <h2>Appetizers</h2>
            <div class="appetizer row" ng-repeat="item in appetizers">
                <div class="item col-md-9">
                    <h3 class="name"> {{item.name}} </h3>
                    <p class="description"> {{item.description}} </p>
                </div>
                <div class="price col-md-3">
                    <p class="price"> {{item.price | currency}} </p>
                </div>
            </div>
            <div class="appetizer row text-center">
                <a href="javascript:void(0)" data-toggle="modal" data-target="#appModal" class="btn btn-success btn-fab btn-raised mdi-content-add"></a>

            </div>
            <h2>Favorites</h2>
            <div class="favorites row" ng-repeat="favorite in favorites">
                <div class="item col-md-9">
                    <h3 class="name"> {{favorite.name}} </h3>
                    <p class="description"> {{favorite.description}} </p>
                </div>
                <div class="price col-md-3">
                    <p class="price"> {{favorite.price | currency}} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>

    <!-- Included Modals -->
    <div ng-include="'views/partials/appetizer.html'"></div>
    <!-- Modules -->
    <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.1.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.js"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/js/material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/js/ripples.js"></script>
    <script src="js/app.js"></script>
</body>

</html>